.nav {
    display: flex;
    z-index: 1;
    position: fixed;
    top: 0rem;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    height: 7vh;
    align-items: center;

    /* animations */

    transition-timing-function: ease-in;
    transition: all 0.5s;
}


@media(max-width:768px){
    .nav{
        height: 7vh;
    }
}

@media(max-width:640px){
    .nav{
        height: 7vh;
    }
}

.nav-black{
background-color: #111;

}